Client/App_WebReferences/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53442/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MaskService" />
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutomerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MaskService" minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q1:ArrayOfCustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MaskService" minOccurs="0" name="customerInfo" nillable="true" type="q2:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>